body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("Assets/pexels-eberhard-grossgasteiger-1624438.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn’t tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn’t move when
    the content’s height is greater than the image’s height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container’s size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #464646;
}
footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
}
#presentationnav
{
    color: cornflowerblue;
    font-weight: bold;
}
#presentationnav:hover
{
    color: lightskyblue;
}
#skills
{
    color: cornflowerblue;
    font-weight: bold;
}
#skills:hover
{
    color: lightskyblue;
}
#contactmenu
{
    color: cornflowerblue;
    font-weight: bold;
}
#contactmenu:hover
{
    color: lightskyblue;
}
#experience
{
    color: white;
    font-weight: bold;
}
@font-face {
    font-family: 'data_controllatin';
    src: url("Assets/data-latin-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrap
{
    font-family: data_controllatin, serif;
    color: lawngreen;
    text-shadow: 1px 1px 2px yellowgreen, 0 0 1em green, 0 0 0.2em blue ;

}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #000000;
}
a
{
    padding: 10px;
}
#content {

}
#nav
{
    z-index: 2;
    background-image: none;
}
.navbar-custom {
    background-color: #000000;
}
.navbar-toggler {
    background-color: lightskyblue;
}
* { color:#000000; text-decoration: none;}
a:link
{
    text-decoration:none;
}
.photo
{
    border: solid lightskyblue;
    width: 120px;
    overflow: hidden;
    border-radius: 30px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.identity
{
    font-weight: bold;
    justify-content: center;
    letter-spacing: 6px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
#contact
{
    padding-top: 5%;
    height: inherit;
}
label
{
    color: white;
    font-weight: bold;
    width: 10%;
    padding: 0;
    text-align: left;
    line-height: 26px;
    margin-bottom: 10px;
    font-size: 18px;

}

input {
    height: 5%;
    width: 20%;
    flex: 0 0 200px;
    margin-right: auto;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 4px solid black;
    align-content: flex-start;

}

textarea
{
    height: 5%;
    width: 20%;

    margin-right: auto;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 4px solid black;
    align-content: flex-start;
}

label {
    text-align: center;
}
input
{
    background-color: transparent;
}
#messagebutton
{
    background-color: transparent;
    color: white;
    border: solid skyblue;
    font-size: 15px;
}
#messagebutton:hover
{
    background-color: skyblue;
}
#cv
{
    background-color: transparent;
    color: lightskyblue;
    border: solid lightskyblue;
    font-size: 15px;
}
#cv:hover
{
    background-color: skyblue;
    color: white;
    font-weight: bold;

}
p
{
    font-size: 17px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
#content
{
    margin-left: auto;
    margin-right: auto;
}
.col-md-6
{
   text-align: center;
}
.col-md-12
{
    text-align: center;
}
.row
{
    padding: 20px;
}
.stripe
{
    padding: 100px;
}
h3
{
    font-weight: bold;
    color: lightskyblue;
    text-shadow: 4px 4px 6px black;
}
.tech
{
    font-weight: bold;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
.col-sm-4
{
    text-align: center;
}
.social
{
    fill: yellowgreen;
}
.form
{
    justify-content: center;
}
